@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary: #C692F4;
  --secondary: #F2B1CC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

body {
  background-color: var(--secondary);
  width: 100vw;
  height: 100vh;
  background-image: url("./images/background.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}